<!DOCTYPE html>
<html lang="fr" dir="ltr" ng-app="App">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
    <title> Projet AKSA - Stones </title>
  </head>
  <body>
    <!-- Aurélie Categorie Products start  -->
    <div class="container-fluid">
      <div class="row">
        <div class="offset-1 col-sm-11">
          <!-- Categorie PIERRES METEORITIQUES -->
          <div class="card-deck">
            <div id="cards">
              <div class="row" id="meteoritiques">
                <!-- 1st card -->
                <div class="card text-black bg-meteoritiques" style="width: 20rem;">
                  <img class="card-img-top mx-auto d-block" id="img1" src="../assets/img/meteoriques/metFerAus.jpg" alt="image de météorite de fer">
                <div class="card-body">
                  <h5 class="card-title" id="text-shadow2"> Météorite de fer & nickel </h5>
                  <p class="card-text" name="description">
                  Les météorites différenciées sont des témoins de l’évolution des planètes. Contrairement aux météorites primitives, elles ont suivi une évolution analogue à celle des planètes internes du système solaire.

                  Cette météorite de fer et de nickel, échantillonnant probablement le noyau d’un astéroïde détruit, présente une belle inclusion de troïlite (sulfure de fer) et des figures de Widmanstätten formées au cours d’un refroidissement qui a duré des millions d’années.

                  Nom d'usage: Météorite de Mount Edith,
                  Classe: Octaédrite IIIAB,
                  Poids de l'échantillon: 327 g (326 kg au total),
                  Date de récolte: 1913 (trouvaille),
                  Région / Pays: Ashburton District, Western Australia / Australie.

                  Une première masse de 161 kg a été découverte par James Bourke à 80 km d’Onslow, à proximité de Mount Edith en 1913. Une autre masse de 165 kg est ensuite découverte.

                  Le Musée de Perth (Australie) en conserve l’essentiel. Cette météorite se compose principalement de fer et de nickel. Elle est un fragment du cœur métallique d’un astéroïde dont la partie externe riche en silicates a été détruite par des collisions avec d’autres astéroïdes au cours des temps géologiques.

                  Cet astéroïde avait adopté cette structure dite différenciée (le noyau est métallique ; le manteau et la croûte sont silicatés) très tôt dans l’histoire du système solaire. L’inclusion (visible sur le côté gauche de la photographie) est de la troilite, un sulfure de fer qui s’est formé en même temps que l’alliage de fer-nickel. Les structures dites de Widmanstätten visibles dans l’ensemble de la tranche de météorite correspondent à des variations de la teneur en nickel du métal. Leur développement extensif est le résultat du refroidissement très lent de la météorite dans les profondeurs du cœur de son astéroïde parent.

                  Il a fallu des millions d’années pour les former. De telles structures sont apparentes dans la majorité des météorites de fer, on peut les révéler grâce à une légère attaque acide. Leur étude ainsi que celle des autres propriétés des météorites de fer permettent de préciser les conditions de la formation des cœurs métalliques des gros astéroïdes et des planètes.

                  L’étude de ces météorites est ainsi une façon indirecte d’étudier le noyau de la planète Terre auquel nous n’avons pas accès.
                  </p>
                </div>
                  <div class="card-footer">
                    <p class="card-text"> Prix : 10000 € </p>
                    <button type="button"class="btn btn-light btnPanier" data-toggle="modal" data-target="#exampleModalCenter"> Ajouter au panier </button>
                  </div>
              </div>
              <!-- 2nd card -->
              <div class="card text-black bg-meteoritiques" style="width: 20rem;">
                <img class="card-img-top mx-auto d-block" id="img2" src="../assets/img/meteoriques/metFer.jpg" alt="image de météorite de fer">
                <div class="card-body">
                  <h5 class="card-title" id="text-shadow2"> Météorite martienne </h5>
                  <p class="card-text" name="description">
                    La météorite de Chassigny est tombée il y a 200 ans, le 3 octobre 1815. C’est le premier fragment de Mars dont la chute sur Terre ait été observée. Avec les données des rovers qui circulent à la surface de Mars, les météorites d’origine martienne sont notre principale source d’informations sur l’origine et l’évolution interne de cette planète.

                  Nom d'usage: Météorite de Chassigny,
                  Classe: SNC,
                  Poids de l'échantillon: SNC,
                  Taille (cm): 4,5 x 4 x 4,8,
                  Date de récolte: 03/10/1985 (chute),
                  Pays: France.

                  Tombée à quelques centaines de mètres d’un villageois qui travaillait dans les vignes et accompagnée d’un bruit épouvantable, comparé à "des décharges de mousqueterie entrecoupées par des coups de canons", la météorite de Chassigny (Haute-Marne) a immédiatement été identifiée comme une pierre d’origine extra-terrestre. Mais ce n’est que plus d’un siècle et demi plus tard qu’elle a été reconnue comme un fragment de la planète Mars.

                  Comme un grand nombre d’autres météorites d’origine martienne (près d’une centaine connues à l’heure actuelle), cette roche a été formée plus de 3 milliards d’années après les débuts du Système solaire par le refroidissement et la cristallisation d’un magma (roche fondue). À une époque aussi tardive, plus aucun astéroïde n’avait d’activité volcanique. Cet âge "récent" a été la première indication de l’origine martienne probable de Chassigny et des roches appariées, arrivées sur Terre après un périple de 11 millions d’années dans l’espace interplanétaire. L’origine martienne de ces roches a été confirmée depuis lors par la découverte de gaz piégés dans l’une d’elles, gaz qui ressemblent fortement à ceux analysés par la sonde Viking dans l’atmosphère de Mars.

                  Avec les rovers tels Curiosity, qui font de la géologie in situ à la surface de Mars, les météorites martiennes sont notre principale source d’informations sur les processus de formation et d’évolution de la planète Mars. Quoique Mars soit plus petite que la Terre, les deux planètes étaient probablement très semblables en surface il y a 4 milliards d’années, au moment où la vie apparaissait sur Terre (et peut-être sur Mars également ?).

                  Grâce aux météorites, nous possédons de Mars des fragments de roches plus anciens que tous ceux qui sont maintenant connus à la surface de la Terre. Venant compléter les images et analyses envoyées par les rovers qui circulent à la surface de Mars, l’étude des météorites martiennes est donc l’une des pistes les plus importantes pour comprendre l’origine de la vie sur la Terre.
                  </p>
                </div>
                <div class="card-footer">
                  <p class="card-text"> Prix : 20000 € </p>
                  <button type="button"class="btn btn-light btnPanier" data-toggle="modal" data-target="#exampleModalCenter"> Ajouter au panier </button>
                </div>
              </div>
              <!-- 3rd card -->
              <div class="card text-black bg-meteoritiques" style="width: 20rem;">
                <img class="card-img-top mx-auto d-block" id="img3" src="../assets/img/meteoriques/metChon.jpg" alt="image de météorite chondrite">
                <div class="card-body">
                  <h5 class="card-title" id="text-shadow2"> Météorite chondrite </h5>
                  <p class="card-text" name="description">
                    <ul><strong>Description générale</strong>
                      Les météorites primitives (les chondrites), sont des fragments des corps rocheux qui se sont formés en même temps que le Soleil. Elles fournissent des informations sur l’origine du système solaire et permettent notamment de déterminer son âge.
                      Comme leur nom l’indique les chondrites ordinaires sont les plus abondantes des météorites (73 % des chutes). Celle d’Agen a enduré du métamorphisme thermique, c’est-à-dire que ses propriétés ont été modifiées par une élévation de température modérée sur son astéroïde parent. Des datations indiquent que ce phénomène de métamorphisme a eu lieu très tôt dans l’histoire du système solaire.
                    </ul>
                    <ul>
                      <strong>Fiche d'identité</strong>
                     La météorite d’Agen appartient à la classe des chondrites ordinaires qui représentent environ 73 % des chutes de météorites sur Terre. La croûte recouvrant l’échantillon s’est formée lors de l’entrée de la météorite à très haute vitesse dans l’atmosphère.
                        <li><em>Nom vernaculaire:</em></li> Météorite d'Agen,
                        <li><em>Classe:</em></li> Chondrite ordinaire (H5)
                        <li><em>Poids de l'échantillon:</em></li> 467 g (total 30 kg),
                        <li><em>Date de récolte:</em></li> 05/09/1814 (chute),
                        <li><em>Localité / Pays:</em></li> Agen (Lot et Garonne) / France.
                      La météorite d’Agen est tombée le 5 septembre 1814 à proximité du petit village de Gascou près d’Agen. Sa chute a été obsmeteoriqueservée par un naturaliste habitant la région, Jean Florimond Boudon de Saint-Amans.

                      Comme pour toutes les météorites, le passage à haute vitesse de la météorite d’Agen dans l’atmosphère a créé une impressionnante boule de feu et un bruit spectaculaire que Saint-Amans compare à "une fusillade prolongée, ensuite au bruit de plusieurs carrosses sur le pavé, enfin à celui d’un grand édifice qui s’écroule". L’un et l’autre phénomène sont provoqués par l’interaction violente entre la pierre et l’atmosphère terrestre. La météorite d’Agen est une chondrite ordinaire, particulièrement riche en fer métallique.

                      La météorite d’Agen, comme la majorité des météorites, provient d’un astéroïde. Des mesures isotopiques ont permis de montrer que le temps de trajet entre son astéroïde-parent et la Terre a été de 7 millions d’années.
                  </ul>

                 </p>
                </div>
                <div class="card-footer">
                  <p class="card-text"> Prix : 50000 € </p>
                  <button type="button"class="btn btn-light btnPanier" data-toggle="modal" data-target="#exampleModalCenter"> Ajouter au panier </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js" charset="utf-8"></script>
  </body>
</html>
