<!-- pour appeler une page, on commence par #! puis on lui met le meme nom que celui defini dans le routing  -->
<!-- page pour test, changer le nom des balise a et l'adapter -->
<div style="background-image:url('../assets/img/presentation/fluoriteZoom.jpg');">
  <div id="text-presentation">
    <div class="background">
      <div id="transbox">
        <h1 class="text-shadow"><hr> Bienvenue sur le site E-commerce "STONE AGE"!<hr></h1>
        <p>Ce site s'adresse à des passionnés de pierres et minéraux, <br> désirant acquérir des pièces naturelles d'une rareté et d'une beauté exceptionnelles.</p>
        <p>Le site est actuellement en cours de développement, <br> c'est pourquoi vous trouverez ici un nombre de produits limités à neuf, répartis en trois catégories.</p>
        <p>A terme, nous envisageons de vous proposer une gamme plus large, cependant, <br>la rareté et la qualité étant recherchées, vous comprendrez que l'offre puisse être inférieure à la demande.</p>
        <p>Nous nous tenons à votre disposition pour toute précision complémentaire. </p>
        <p>Sachez que nous travaillons en étroite collaboration avec des experts en gemmologie, <br> ainsi, vous disposerez d'un certificat d'authenticité assurant la garantie de chacun de nos produits d'exception.</p>
        <p>Espérant vivement que vous trouverez ici-même votre bonheur, <br> nous vous souhaitons une agréable visite de notre site et espérons vous compter parmi nos clients d'exception.</p>
        <p>Création et réalisation du site par la team AKSA, composée de quatre membres actifs:<br>
        Aurélie Paillier / Khoursa Adoum Fadoul / Stéphane Quentin / Aymeric Neveu.</p>
      </div>
    </div>
  </div>
</div>
