<!DOCTYPE html>
<html lang="fr" dir="ltr" ng-app="App">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.js"></script>
    <title> Projet AKSA - Stones </title>
  </head>
  <body>
    <!-- Aurélie Produits start  -->
    <div class="container-fluid">
      <div class="row">
        <div class="offset-1 col-sm-11">
          <!-- Categorie pierres terrestres -->
          <div id="cards">
            <div class="row" id="terrestres">
              <div class="card text-white bg-terrestres" style="width: 20rem;">
                <img class="card-img-top mx-auto d-block" id="img1" src="../assets/img/terrestres/granit.jpg" alt="image de blocs de granit">
                <div class="card-body">
                  <h5 class="card-title" id="text-shadow1"> Granit </h5>
                  <p class="card-text" name="description"> text description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>
                  <div class="card-footer">
                    <p class="card-text"> Prix : 10000 € </p>
                    <button type="button"class="btn btn-light btnPanier" data-toggle="modal" data-target="#exampleModalCenter"> Ajouter au panier </button>
                  </div>
              </div>
              <div class="card text-white bg-terrestres" style="width: 20rem;">
                <img class="card-img-top mx-auto d-block" id="img2" src="../assets/img/terrestres/marbre.jpg" alt="image de blocs de marbre">
                <div class="card-body">
                  <h5 class="card-title" id="text-shadow1"> Marbre </h5>
                  <p class="card-text" name="description"> text description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>
                <div class="card-footer">
                  <p class="card-text"> Prix : 20000 € </p>
                  <button type="button"class="btn btn-light btnPanier" data-toggle="modal" data-target="#exampleModalCenter"> Ajouter au panier </button>
                </div>
              </div>
              <div class="card text-white bg-terrestres" style="width: 20rem;">
                <img class="card-img-top mx-auto d-block" id="img3" src="../assets/img/terrestres/quartzRose.jpg" alt="image de blocs de quartz rose">
                <div class="card-body">
                  <h5 class="card-title" id="text-shadow1"> Quartz rose </h5>
                  <p class="card-text" name="description"> text dexcription: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                </div>
                <div class="card-footer">
                  <p class="card-text"> Prix : 50000 € </p>
                  <button type="button"class="btn btn-light btnPanier" data-toggle="modal" data-target="#exampleModalCenter"> Ajouter au panier </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js" charset="utf-8"></script>
  </body>
</html>
